---
layout: default
---

<div class="lead-image-container">
  {% include lead-image.html %}
</div>
<div class="philosophy-container"  onclick="window.location.href = '{{ site.baseurl}}philosophy';" title="Click to learn more about what makes us tick">
  {% include philosophy.html %}
</div>
<div class="film-services-container"  onclick="window.location.href = '{{ site.baseurl}}film-services';" title="Click to learn more about our film services">
  {% include film-services.html %}
</div>
<div class="print-services-container"  onclick="window.location.href = '{{ site.baseurl}}print-services';" title="Click to learn more about our print services">
  {% include print-services.html %}
</div>
<div class="fuji-fresh-container"  onclick="window.location.href = '{{ site.baseurl}}fuji-fresh';" title="Click to learn more about #FUJIfresh">
  {% include fuji-fresh.html %}
</div>
<div class="reference-sheets-container"  onclick="window.location.href = '{{ site.baseurl}}exposure-reference-sheet';" title="Click to learn more about Exposure Reference Sheets">
  {% include reference-sheets.html %}
</div>
<div class="education-container"  onclick="window.location.href = '{{ site.baseurl}}education';" title="Click to learn more about Educational Workshops">
  {% include education.html %}
</div>
<div class="praise-teaser-container" onclick="window.location.href = '{{ site.baseurl}}praise';" title="Click for more praise">
  <div class="praise-teaser">
    {% include praise-teaser.html %}
  </div>
</div>
<div class="container">
  <div class="center" id="as-seen-in" >
    <h4><strong>As Seen In</strong></h4>
    <p>We are so thrilled to see our wonderful photographers featured in countless publications!</p>
    {% include as-seen-in.html %}
  </div>
</div>
