---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $white;
  font: 400 16px/1.4 Roboto;
  color: #232323;
}

.container {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #424242;
  line-height: 1.2;
  margin: 1em 0;
  padding: 0;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 40px;
  font-weight: 100;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 26px;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

h4 {
  font-size: 19px;
  font-weight: 300;
}

p {
  margin: 15px 0;
}

a {
  color: #83b3be;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #424242;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: #424242;
  background: $lightGray;
}
::selection {
  color: #424242;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*******************************************/
/* PHOTOVISION SPECIFIC MODS GO BELOW HERE */
/*******************************************/

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.contact-page {
  width: 80%;
  margin: 0 auto 0 auto;
  h3 {
    margin-top: 40px;
  }
}

// to center elements on page
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// to left-justify elements
.left {
  text-align: left;
  float: left;
}

// to right-justify text or elements
.right {
  text-align: right;
  float: right;
}

.company-logo {
  width: 20%;
  position: relative;
  margin-bottom: 50px;
  @media screen and (max-width: 1400px) {
    width: 35%;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 1100px) {
    width: 40%;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 800px) {
    width: 50%;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 600px) {
    width: 60%;
    margin-bottom: 25px;
  }
  &:before {
    content: "";
    display: block;
    padding-top: 19.6%;
  }
  &:hover {
    cursor: pointer;
  }
}

.top-nav-links { 
  width: 60%;
  @media screen and (max-width: 1100px) {
    width: 90%;
  }
  @media screen and (max-width: 800px) {
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    width: 80%;
  }
  @media screen and (max-width: 400px) {
    width: 90%;
  }
  ul {
    margin: 0 auto 2em auto;
    text-align: center;
    font-size: 18px;
    display: block;
    list-style-type: none;
    li {
      padding: .5% 1.5%;
      display: inline-block;
      .accordion {
        transition: 0.4s;
      }
      a {
        color: #757575;
        &:hover, &:active {
          color: #83b3be;
        }
      }
      .panel {
        text-align: left;
        position: fixed;
        z-index: 3;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        li {
          display: block;
          padding: .5em;
          background-color: white;
          a {
            color: #757575;
            &:hover, &:active {
              color: #83b3be;
            }
          }
        }
      }
    }
  }
}

.lead-image-container {
  .lead-image {    
    width: 50%;
    position: relative;
    margin-bottom: 50px;
    @media screen and (max-width: 1400px) {
      width: 75%;
    }
    @media screen and (max-width: 1100px) {
      width: 90%;
    }
    &:before {
      content: "";
      display: block;
      padding-top: 109.3%;
    }
    .photo-credit {
      visibility: hidden;
      display: block;
      color: white;
      background-color: #424242;
      padding: 8px;
      position: relative;
      z-index: 1;
      a:hover, a:active {
        color: gray;
      }
    }
    .show {
      visibility: visible;
      -webkit-animation: fadeIn 0.5s;
      animation: fadeIn 0.5s;
    }
  }
}

.fuji-fresh-container, .film-services-container, 
.print-services-container, .philosophy-container {
  background-color: $lightGray;
  margin-bottom: -6px;
  :hover {
    cursor: pointer;
  }
  img {
    object-fit: cover;
  }
}

.reference-sheets-container {
  display: inline-block;
  position: relative;
  width: 50%;
  :hover {
    cursor: pointer;
  }
  img {
    object-fit: cover;
  }
}

.education-container {
  float: right;
  width: 50%;
  :hover {
    cursor: pointer;
  }
  img {
    object-fit: cover;
  }
}

.praise-teaser-container {
  background-color: $lightGray;
}

.praise-teaser {
  font-size: 1.8em;
  font-weight: 300;
  color: #424242;
  margin: 0 20%;
  padding: 2.5% 1% 3% 1%;
  background-color: $lightGray;
  :hover {
    cursor: pointer;
  }
  @media screen and (max-width: 1100px) {
    font-size: 1.2em;
    padding: 2% 5%;
  }
  @include mobile {
    margin: 0 10%;
    padding: 5% 12%;
  }
  .slick-prev{
      display: block;
      top: 30% !important;
      content: "";
      background: url('images/begin-quote.png') no-repeat center center;
      height: 100px;
      width: 100px;
      background-size: 100%;
      &:before {
        opacity: 0;
      }
      @media screen and (max-width: 1100px) {
        background-size: 60%;
      }
      @media screen and (max-width: 400px) {
        background-size: 40%;
      }
  }
  .slick-next{
      display: block;
      top: 75% !important;
      content: "";
      background: url('images/end-quote.png') no-repeat center center;
      height: 100px;
      width: 100px;
      background-size: 100%;
      &:before {
        opacity: 0;
      }
      @media screen and (max-width: 1100px) {
        background-size: 60%;
      }
      @media screen and (max-width: 400px) {
        background-size: 40%;
      }
  }
  .slick-list {
    margin: 0 10% 0 10%;
    a {
      font-size: 1em;
    }
    @include mobile {
      margin: 0 10% 0 10%;
      font-size: 1em;
      width: 90%;
    }
    @media screen and (max-width: 400px) {      
      margin: 0 20% 0 10%;
      width: 80%;
    }
  }
  .right {
    &:before {
      content: '—';
    }
    font-size: .85em;
    a {
      font-size: 1em;
    }
  }
  ul li {
    width: 100%;
    display: inline-block;
    list-style-type: none;
  }
}

.slick-initialized .slick-slide {
  padding-top: .5%;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

article {
  padding: 2% 10%;
  h1 {
    margin-bottom: 0;
  }
  .date {
    font-size: .75em;
    color: gray;
  }
  .category {
    font-size: .75em;
    font-weight: 600;
    color: gray;
    a {
      font-weight: 800;
    }
  }
  .entry {
    padding-right: 4%;
    h1 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }
    p {
      margin-bottom: 0;
      padding-bottom: 2%;
      text-align: justify;
      text-justify: inter-word;
      em strong a {
        font-weight: 600;
      }
    }
    ol, ul {
        padding-left: 3em;
        li {
          list-style-type: circle;
        }
    }
    a {
      font-size: 1em;
      font-weight: 400;
    }
    .tablelines {
      th {
        border-bottom: 2px solid #424242;
        padding: .3em 1em .3em 1em;
      }
      td {
        border-bottom: 1px solid #424242;
        padding: .3em 1em .3em 1em;
      }
      tr:last-child td {
        border: none;
      }
    }
    .tablenolines {
      th {
        display: none;
      }
      td {
        .left-image {
          padding-right: 1em;
        }
        .right-image {
          padding-left: 1em;
        }
      }
    }
    .right-column {
      display: block;
      float: left;
      width: 30%;
      margin-right: 0;
      ul {
        padding-left: 1.5em;
        li {
          list-style-type: circle;
        }
      }
    }
    .left-column {
      display: block;
      float: left;
      width: 30%;
      margin-right: 5%;
    }
    .extra-space {
      padding-top: 25px;
    }
    .extra-picky-space {
      padding-top: 10px;
    }    
    .service-times-list li {
      font-size: 1.2em;
    }
    .less-space {
      margin-bottom: 13px;
    }
    .center-p {
      text-align: center !important;
    }
    .disclaimer {
      font-size: .9em;
      font-style: italic;
      padding-bottom: 25px;
    }
    .accordion {
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #ccc;
      }
    }
    .closed:after {
      font-family: Webdings;
      font-size: .5em;
      vertical-align: middle;
      color: #757575;
      content: ' 6';
    }
    .opened:after {
      font-family: Webdings;
      font-size: .5em;
      vertical-align: middle;
      color: #757575;
      content: ' 5';
    }
    .panel {
        max-height: 0;
        transition: max-height 0.2s ease-out;
        overflow: hidden;
    }
    button {
      padding: 10px;
      border-radius: 5px;
      color: #424242;
      background-color: white;
      border: 1px solid #424242;
      font-size: 19px;
      font-weight: 400;
      &:hover {
        background-color: #eee;
      }
      &:active {
        background-color: gray;
      }
    }
    .pricing-button {
      margin-right: 25px;
    }
  }
}

.workshop {    
  border-top: 1px solid #ccc;
  padding: 40px 0 40px 0;
  ul {
    width: 100%;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
    li {
      width: 100%;
      padding: 12px 0px;
      position: relative; 
      div.half {
        display: inline-block;
        vertical-align: top; 
        width: 48%;
        img {
          padding-right: 30px;
        }
        h1 {
          margin-top: 0;
        }
        h3 {
          padding-left: 0;
        }
        p {
          padding-left: 5%;
        }
      }
    }
  }
}

#as-seen-in {
  background: linear-gradient($white, $lightGray);
  padding: 0% 10% 2% 10%;
  @include mobile {
    padding: 2%;
  }
}

#as-seen-in-table {
  margin: 20px auto 0 auto;
  tr td {
    text-align: center;
    vertical-align: middle;
    padding: .5% 3%;      
    h1, p {
      text-align: left;
    }
    h1 {
      margin: 0 0 20px 0;
    }
    .rf-logo {
      width: 60%;
    }
    @include mobile {
      .rf-logo {
        width: 40%;
      }
    }
  }
}

.footer-nav-left {
  text-align: left;
  float: left;
  margin-left: 20px;
  margin-right: 60px;
  h4 {
    margin: 50px 0px 10px 0px;
  }
  ul {
    list-style-type: none;
  }
  @include mobile {
    width: 100%;
  }
}

.footer-nav-right {
  text-align: right;
  float: right;
  margin-right: 20px;
  strong, span {
    padding: 0px 3px;
  }
  h4 {
    margin: 50px 0px 10px 0px;
  }
  ul {
    list-style-type: none;
  }
  @include mobile {
    text-align: left;
    float: left;
    margin-left: 20px;
  }
  @media screen and (max-width: 1100px) {
    text-align: left;
    float: left;
    margin-left: 20px;
  }
}

.contact_form, .preferences-form {
  max-width: 700px;
  margin-left: 250px;
  @include mobile {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  @media screen and (max-width: 800px){
    width: 90%;
    margin: 0 auto 0 auto;
  }
  h2 {
    margin: 0;
    display: inline;
  }
  label {
    display: block;
  }
  ul {
    width: 100%;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
    li {
      width: 100%;
      padding: 12px 0px;
      position: relative;
      div.half {
        display: inline-block;
        width: 49.4%;
      }
      div.quarter {
        display: inline-block;
        width: 24.5%;
      }
    }
  }
  input, select {
    height: 42px;
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    &::placeholder {
      font-style: italic;  
      color: grey;
    }
  }
  .image-preview {
    ul li {
      padding: 10px;
      position: relative;
      display: inline-block;
      width: 20%;
    }
    p {
      margin-top: 5px;
    }
  }
  .info-icon {
    height: 1.25em;
    position: relative;
    display: inline-block;
  }
  .popup-info {
    visibility: hidden;
    display: block;
    color: white;
    background-color: #424242;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 20%;
    margin-left: -80px;
  }
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    @media (pointer: fine) {
      visibility: hidden;
    }
  }
  button.submit {
    width: 180px;
    height: 50px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #424242;
    font-size: 19px;
    :hover {
      background-color: $lightGray;
    }
    :active {
      background-color: gray;
    }
  }
}

.preferences-form {
  h1 {
    margin-bottom: 0px;
  }
  a {
    margin-top: 1em;
  }
  ul {
    margin-top: 2em;
  }  
}

.required_notification {
    color: #d45252;
}

.social-icons {
  a {
    padding: 2.2%;
  }
}

.svg-icon {
  max-height: 20px;
  max-width: 20px;
}

/*******************************************/
/* PHOTOVISION SPECIFIC MODS GO ABOVE HERE */
/*******************************************/

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 6px 10px;
  margin-bottom: 40px;
  background-color: #424242;
  a, span {
    color: white;
  }
  @media screen and (max-width: 800px) {
    font-size: .7em;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #424242;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  @include mobile {
    margin: 3px 0;
  }
}

.posts .heading {  
  padding: 0% 10%;
}

.post {
  width: 50%;
  margin: 0 auto 0 auto;
  @include mobile {
    width: 100%;
  }
  a {
    font-size: 1em;
    font-weight: 100;
    .date {
      font-size: .50em;
      font-weight: 300;
    }
    &:hover, &:active {
      color: #83b3be;
    }
  }
  img {
    width: 580px;
    padding: 10% 0 6% 0;
  }
}

.post-nav-table {
  width: 75%;
  margin: 0 auto 0 auto;
  @media screen and (max-width: 1100px) {
    width: 100%;
  }
  caption {
    font-size: 1.5em;
  }
  td {
    padding: 2% 0 2% 0;
    .nav-div {    
      width: 90%;
      margin: 0 auto 0 auto;
      opacity: 0.4;
      position: relative;
      z-index: 1;
      &:before {
        content: "";
        display: block;
        padding-top: 125%;
      }
      &:hover {
        cursor: pointer;
        opacity: 1;
        z-index: 3;
      }
    }
    span {
      width: 15em;
      font-size: 1.2em;
      position: absolute;
      margin-top: -4em;
      padding-left: 4em;
      z-index: 2;
      @media screen and (max-width: 1100px) {
        width: 14em;
        font-size: 1em;
        padding-left: 3em;
      }
      @media screen and (max-width: 800px) {
        width: 12em;
        font-size: .8em;
        margin-top: -5em;        
        padding-left: 2em;
      }
      @include mobile {
        width: 11em;
        font-size: .8em;   
        margin-top: -4.5em; 
        padding-left: 1em;
      }
    }
    button.submit {
      width: 180px;
      height: 50px;
      margin-top: 25px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid #424242;
      font-size: 19px;
      &:hover {
        background-color: $lightGray;
      }
      &:active {
        background-color: gray;
      }
    }
  }
}

.wrapper-footer {
  background-color: $lightGray;
}

footer {
  text-align: center;
  overflow: hidden;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
