<ul>
  <li>
    <div class="eighth">
      <label for="qty-120">Qty 120</label>
      <input id="qty-120" type="number" name="qty-120" min="0"/>
    </div>
    <div class="eighth">
      <input class="cost" type="text" id="cost-120" name="cost-120" value="$0.00" disabled/>
    </div>
    <div class="eighth">
      <label for="qty-135">Qty 135</label>
      <input id="qty-135" type="number" name="qty-135" min="0"/>
    </div>
    <div class="eighth">
      <input class="cost" type="text" id="cost-135" name="cost-135" value="$0.00" disabled/>
    </div>
    <div class="half">
      <label for="cost-total"><strong>Total</strong></label>
      <input class="cost total" type="text" id="cost-total" name="cost-total" value="$0.00" disabled/>
    </div>
  </li>
</ul>