<table class="tablelines">
  <tr>
    <th><strong>Pro Packs</strong></th>
    <th class="center-data"><strong>1 — 9</strong></th>
    <th class="center-data"><strong>10 — 19</strong></th>
    <th class="center-data"><strong>20 +</strong></th>
  </tr>
  <tr>
    <td><strong>135</strong></td>
    <td class="center-data">$35.00</td>
    <td class="center-data">$33.50</td>
    <td class="center-data">$32.00</td>
  </tr>
  <tr>
    <td><strong>120</strong></td>
    <td class="center-data">$34.00</td>
    <td class="center-data">$32.50</td>
    <td class="center-data">$31.00</td>
  </tr>
</table>