<ul>
    <li>
        <a href="{{ site.baseurl }}/">Home</a>
    </li>
    <li id="svcs-nav-accordion">
        <a class="accordion" href="#">+Services</a>
        <ul id="svcs-nav-panel" class="panel">
            <li>
                <a href="{{ site.baseurl }}/film-services">Film Services</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/print-services">Print Services</a>
            </li>
        </ul>
    </li>
    <li id="order-nav-accordion">
        <a class="accordion" href="#">+Order</a>
        <ul id="order-nav-panel" class="panel">
            <li>
                <a href="{{ site.baseurl }}/order-work">Order Process + Scan</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/images/PhotoVision-Film-Order-Form.pdf" target="_blank">Printable Order Form</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/order-film">Order Film</a>
            </li>
            <li>
                <a href="http://photovision.dakisphotofactory.com/onlinePrint.html" target="_blank">Order Prints</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ site.baseurl }}/blog-nav">Blog</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/common-questions">Common Questions</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/exposure-reference-sheet">Exposure Reference Sheets</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/contact">Contact</a>
    </li>
</ul>