<h3 class="accordion opened" title="Click to expand section">Price List</h3>

<div class="panel">
    <h5><strong>Frontier Develop + Scan</strong></h5>

    <table class="tablelines">
        <tr>
            <th><strong>Film Size</strong></th>
            <th class="center-data"><strong>Color Normal Scan</strong></th>
            <th class="center-data"><strong>Color Large Scan</strong></th>
            <th class="center-data"><strong>B+W Normal Scan</strong></th>
            <th class="center-data"><strong>B+W Large Scan</strong></th>
        </tr>
        <tr>
            <td><strong>135/120</strong></td>
            <td class="center-data">$18.00</td>
            <td class="center-data">$22.00</td>
            <td class="center-data">$14.00</td>
            <td class="center-data">$17.00</td>
        </tr>
        <tr>
            <td><strong>220</strong></td>
            <td class="center-data">$36.00</td>
            <td class="center-data">$44.00</td>
            <td class="center-data">$28.00</td>
            <td class="center-data">$34.00</td>
        </tr>
    </table>

    <h5><strong>Noritsu Develop + Scan</strong></h5>

    <table class="tablelines">
        <tr>
            <th><strong>Film Size</strong></th>
            <th class="center-data"><strong>Color Large Scan</strong></th>
            <th class="center-data"><strong>B+W Large Scan</strong></th>
        </tr>
        <tr>
            <td><strong>135/120</strong></td>
            <td class="center-data">$18.00</td>
            <td class="center-data">$14.00</td>
        </tr>
        <tr>
            <td><strong>220</strong></td>
            <td class="center-data">$36.00</td>
            <td class="center-data">$28.00</td>
        </tr>
    </table>

    <h5><strong>Proof Prints (Only available with scanning)</strong></h5>

    <table class="tablelines">
        <tr>
            <th><strong>Size</strong></th>
            <th class="center-data"><strong>4×4, 4×5, 4×6, 4.5×6</strong></th>
            <th class="center-data"><strong>5×5</strong></th>
        </tr>
        <tr>
            <td><strong>135/120</strong></td>
            <td class="center-data">$3.50*</td>
            <td class="center-data">$4.50*</td>
        </tr>
        <tr>
            <td><strong>220</strong></td>
            <td class="center-data">$7.00*</td>
            <td class="center-data">$9.00*</td>
        </tr>
    </table>
    <i>*Add to develop + scan price</i>

    <h5><strong>Develop Only</strong></h5>

    <table class="tablelines">
        <tr>
            <th><strong>Size</strong></th>
            <th></th>
        </tr>
        <tr>
            <td><strong>135/120</strong></td>
            <td class="center-data">$7.50</td>
        </tr>
        <tr>
            <td><strong>220</strong></td>
            <td class="center-data">$11.00</td>
        </tr>
    </table>
</div>