<p>
    You <em>must</em> include this code with your film when shipping. This will ensure that your order information is 
    attached to the correct film shipment.
</p>
<li>
    <div class="left" style="margin-right: 20px;">
        <strong><code id="display-code"></code></strong>
        <input id="order-code" name="order-code" type="text" style="display:none;"/>    
    </div>
    <div class="left">
        <button id="print-code">Print This Code</button> 
    </div>
</li>
<br /><br />
<li>
    <div class="left">
        <input class="left" style="margin-right: 10px;" id="code-confirmation" name="code-confirmation" type="checkbox"/>
        <label class="left" for="code-confirmation" style="margin-top: 4px;">I have either printed or written down this code to include with my film shipment.</label>  
    </div>
    <div class="clearfix"></div>
</li>