<div class="quarter center">
    <input type="radio" id="none-rush" name="rush" value="none" checked>
    <label for="none">None<br /></label>
</div>
<div class="quarter center">
    <input type="radio" id="two-day-rush" name="rush" value="2 day rush">
    <label for="two-day">2 business days<br />(100% extra)</label>
</div>
<div class="quarter center">
    <input type="radio" id="three-day-rush" name="rush" value="3 day rush">
    <label for="three-day">3 business days<br />(50% extra)</label>
</div>