<div class="quarter center">
    <input type="radio" id="two-weeks" name="shipback-method" value="2 weeks">
    <label for="two-weeks">In 2 weeks ($6.50)</label>
</div>
<div class="quarter center">
    <input type="radio" id="flat-rate-2" name="shipback-method" value="2in flat rate">
    <label for="flat-rate-2">When 2" flat rate box is filled ($10.00)</label>
</div>
<div class="quarter center">
    <input type="radio" id="flat-rate-4" name="shipback-method" value="4in flat rate">
    <label for="flat-rate-4">When 4" flat rate box is filled ($20.00)</label>
</div>
<div class="quarter center">
    <input type="radio" id="destroy" name="shipback-method" value="destroy">
    <label for="destroy">Destroy</label>
</div>