---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>

      <div class="entry">
        {{ post.excerpt }}...<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </div>

      
    </article>
  {% endfor %}

  <!-- Pagination links -->
  <div class="center pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous left">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next right">Next</a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>